body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #121212;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

header nav button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

header nav button:hover {
  background-color: #777;
}

header nav button#theme-btn {
  font-size: 20px;
}

#manga-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.manga-info {
  padding: 10px;
}

.manga-info .title {
  font-weight: bold;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
